{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">База данных</h1>
{% if student %}
<div class="alert alert-info" role="alert">
    <h4>Результаты экзаменов для студента {{ student.id }}:</h4>
    <ul>
        {% for result in student.performance %}
        <li>Курс: {{ result.course.course_name }}, Оценка: {{ result.grade_performance }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<form action="/get_student_performance" method="post" class="mb-4">
    <div class="form-group">
        <label>ID студента</label>
        <input type="text" name="student_id" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
{% endblock %}